<launch>
  <node name="remote_view_startsignal" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/cam_startsignal/image_raw"/>
    <param name="autosize" value="false" />
  </node>
  <node name="remote_view_forward" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/cam_forward/image_raw"/>
    <param name="autosize" value="false" />
  </node>
  <node name="joy" pkg="joy" type="joy_node" output="screen">
  </node>
  <node name="joystick_inputs" pkg="detect_field" type="joystick_inputs.py" output="screen">
  </node>
  <node name="remote_rqt_console" pkg="rqt_console" type="rqt_console" output="screen">
  </node>
  <node name="remote_rqt_graph" pkg="rqt_graph" type="rqt_graph" output="screen">
  </node>
  <node name="remote_rqt_logger_level" pkg="rqt_logger_level" type="rqt_logger_level" output="screen">
  </node>
</launch>
